.scrollbar {
	overflow-x: scroll;
}

.scrollbar::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar {
	width: 8px;
	background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: lightgrey;
}

.grey-bg {
	background-color: #f5f5f5;
}

.ranks-table-row:hover {
	cursor: pointer;
	background-color: #d3bdfb;
}

.paper {
	overflow-x: scroll;
}
